@* 文字入力欄と送信ボタンだけのコンポーネントが欲しい *@

<div class="row ms-5 pb-3">
    <InputTextArea class="col-md-10" @bind-Value="Text" rows="2" />
    <button class="col-4 btn-danger" @onclick="OnButtonClicked">リセット</button>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public EventCallback<string> OnClickCallback { get; set; }

    [Parameter]
    public string? Text { get; set; }
    
    [Parameter]
    public EventCallback<string> TextChanged { get; set; }
    
    private async Task OnButtonClicked()
    {
        await OnClickCallback.InvokeAsync(Text);
    }
}
